html, body {
  margin: 0;
  padding: 0;
}
.button {
  width:180px;
  height:50px;
  background-color: #fe34f4a8;
  border: 3px solid white;
  color: #FFFF;
  font-weight:bold;
  border-radius: 10px;
  margin-bottom:100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  outline: none;
}
